.header {
    &__container {
        background-color:#2D2641 ;
        width: 375px;
        height: 500px;
        padding-top: 93px;
    }
    &__container--text {
        height: 314px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-left: 24px;
        padding-right: 24px;
        text-align: center;
    }
}