.text {
  font-family: "Karla", sans-serif;

  &__header {
    color: white;
    font-size: 16px;
    line-height: 26px;
  }

  &__card {
    text-align: center;
    color: #837D88;
    line-height: 26px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 0;
    padding-left: 16px;
    padding-right: 16px;
  }
}
